body {
    margin: 0;
    background-color: black;
}

input {
    width: 117px;
    height: 83px;
    background-color: #6943FF;
    border: 1px solid #B295FF;
    border-radius: 5px;
    color: #FFFFFF;
    font-size: 58px;
    text-align: center;
}

input::placeholder {
    font-size: 20px;
}

button {
    width: 117px;
    height: 42px;
    color: #3D3D3D;
    background-color: #FFFFFF;
    border: none;
    border-radius: 5px;
}

#container {
    width: 550;
    height: 729px;
    font-family: "Inter", sans-serif;
    margin-left: auto;
    margin-right: auto;
    margin-top: 50px;
    background-color: #F4F4F4;
}

#main {
    display: flex;
    flex-direction: column;
    background-color: #6943FF;
    width: 550px;
    height: 285px;
    color: #FFFFFF;
    justify-content: space-around;
    align-items: center;
}

.main-title {
    font-size: 28px;
    font-weight: bolder;
}

#conversions {
    width: 550px;
    height: 444px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;


}

.conv-results {
    width: 500px;
    height: 108px;
    background-color: #FFFFFF;
    color: #5A537B;
    text-align: center;
    border: none;
    border-radius: 5px;
}
